<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./navbar%>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    
  </head>

  <body>
      <ul>
        <tr><td>
        <img src="<%= database.image_thumb_url %>">
      </td>
      <td>

        <li>Name: <%= database.name %></li>
        <li>$ <%= database.price_in_cents %></li>
        <li><%= database.package %></li>
        <li>Made in: <%= database.origin %></li>
        <li>By: <%= database.producer_name %></li>
        <li>Release Date: <%= database.released_on %></li>
        <li>Style: <%= database.style %></li>

      </td>
      <a href="/" >Back</a>
      </tr>
      </ul> 
      <% for (var result in opinions) { %>
        <ul>
        <td>
          <li><%= opinions[result].full_name %></li>

          <div class="star-rating" title='<%= opinions[result].rate * 20 %>%'>
            <div class="back-stars">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              
              <div class="front-stars" style='width: <%= opinions[result].rate * 20 %>%'>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
            </div>
          </div>

          <li><%= opinions[result].opinion %></li>
        </td>
      </ul> 
      <% } %>
      <% if (username != null) { %>
        <form method="POST" action="/api/details/new_opinion">
          <div class="form-group">
            <input type="hidden" name="beer_id" value="<%= database.id %>">
            <select id="rate" type="rate" name="rate">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <label for="opinion" value="Opinion"/>
            <p><input id="opinion" type="opinion" name="opinion"></p>
          </div>
          <input type="submit" value="Opinion"/>
        </form>
      <% } %>
  </body>
</html>