<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
  <div class="web__name">My Github Favorites</div>
  <div>
      <table style="float: left;width: 50%;">
        <td colspan="4" class="search">
            <form method="POST" action="/">
              <label value="Search" >
                <input id="search" name="search" class="search__field">
                <input type="submit" value="Search" class="search__button">
            </form>
        </td>
        <tr class="head__table">
          <th>Name</th>
          <th>Language</th>
          <th>Latest Tag</th>
        </tr>
        <% for (var result in database) { %>
          <tr>
            <td><a href="<%= database[result].html_url %>"><%= database[result].full_name %></td></a>
            <td><%= database[result].language %></td>
            <td><%= database[result].tags %></td>
            <td>
              <form method="POST" action="/add">
                <input style="display:none" name="id" value="<%= database[result].id %>"/>
                <input type="submit" value="Add" class="input__button"/>
              </form>
            </td>
          </tr>
        <% } %>
      </table>
      <table style="float: left;width: 50%;">
        <tr class="head__table">
          <th>Name</th>
          <th>Language</th>
          <th>Latest Tag</th>
        </tr>
        <% for (var result in favorites) { %>
          <tr>
            <td><a href="<%= favorites[result].html_url %>"><%= favorites[result].full_name %></td></a>
            <td><%= favorites[result].language %></td>
            <td><%= favorites[result].tags %></td>
            <td>
              <form method="POST" action="/remove">
                <input style="display:none" name="id" value="<%= favorites[result].id %>"/>
                <input type="submit" value="Remove" class="input__button"/>
              </form>
            </td>
          </tr>
        <% } %>
      </table>
  </div>
</body>
</html>